@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: ABeeZee , sans-serif;
}

:root {
    --white: hsl(0, 0%, 100%);
   --lightgray: hsl(212, 45%, 89%);
   --grayishblue: hsl(220, 15%, 55%);
   --darkblue: hsl(218, 44%, 22%);
   --cyanblue: #0076ff;
}

body {
  background: var(--lightgray);
}

div.attribution {
    text-align: center;
    padding: 0.5em;
}

div.attribution a {
    text-decoration: none;
    color: var(--cyanblue);
}

section {
    width: 18em;
    height: 30em; 
    box-shadow: 0.001px 0.001px 10000px 0.01px var(--grayishblue);
    background: var(--white);
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border-radius: 1em;
    padding: 1em;
}

section img {
    width: 16em;
    height: 17em;
    object-fit: cover;
    border-radius: 0.8em;
    margin: 0.2em;
    display: block;
}

section div {
  color: var(--darkblue);
  font-weight: 700;
  font-size: 1.2em;
  margin: 0.6em;
  text-align: center;
}

section p {
  color: var(--grayishblue);
  font-weight: 400;
  font-size: 15px;
  text-align: center;
  padding: 1em;
}

@media screen and (min-width: 767px) {
    div.attribution {
      font-size: 3em;
    }
    
    section {
      margin: 40% auto;
    }
}